<li class="faq-list__item">
    <div class="faq-list__header">
        <h6 class="faq-list__title">{{title}}</h6>
        <button type="button" class="faq-list__toggle"></button>
    </div>
    <p class="faq-list__description">{{content}}</p>
</li>
