<li class="faq-list__item">
    <div class="faq-list__content">
        <h6 class="faq-list__title">{{title}}</h6>
        <p class="faq-list__description">{{content}}</p>
    </div>
    <button type="button" class="faq-list__toggle"></button>
</li>
