<div class="pre-footer"></div>

<footer class="footer">
    <div class="fCenter">
        <div class="footer__container">
            <div class="footer__item">
                <div class="footer__item-title">
                    Услуги
                </div>

                <ul class="footer__item-list">
                    <li class="footer__item-list-elem">
                        <a href="/services/bankrotstvo/">Банкротство физических лиц</a>
                    </li>
                    <li class="footer__item-list-elem">
                        <a href="/services/zashchita-zayomshchikov/">Сопровождение проблемной задолженности</a>
                    </li>
                    <li class="footer__item-list-elem">
                        <a href="/services/otkaz-ot-vzaimodeystvia/">Отказ от взаимодействия</a>
                    </li>
                </ul>

            </div>
            <div class="footer__item footer__item--complete">
                <div class="footer__item-title">
                    Компания
                </div>


                <ul class="footer__item-list">
                    <li class="footer__item-list-elem">
                        <a href="/reviews/text/">Отзывы</a>
                    </li>
                    <li class="footer__item-list-elem">
                        <a href="/nashi-dela/spisano-500-tys-2-mln-rub/">Выигранные дела</a>
                    </li>
                    <li class="footer__item-list-elem">
                        <a href="https://stop-dolg.ru/articles/bankrot/">Статьи</a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <div class="footer__item-title">
                    Обратная связь
                </div>


                <ul class="footer__item-list">
                    <li class="footer__item-list-elem">
                        <a href="/contacts/">Контакты</a>
                    </li>
                </ul>
                <ul class="footer__item-list">
                    <li class="footer__item-list-elem">
                        <a href="#form-review-add" rel="modal:open" data-url="/" class="">Оставьте отзыв</a>
                    </li>
                </ul>
                <div class="footer__item-social">
                    <ul class="social">

                        <li class="social__item">
                            <a href="https://www.instagram.com/uk_stopdolg/" target="_blank" class="social__item-link icon-ins"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://www.youtube.com/channel/UCS-lxzKhqQAPm8Lc3vtLz7Q" target="_blank" class="social__item-link icon-yt"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://ok.ru/ukstopdolg" target="_blank" class="social__item-link icon-ok"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://vk.com/ukstopdolg" target="_blank" class="social__item-link icon-vk"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://www.facebook.com/groups/ukstopdolg/" target="_blank" class="social__item-link icon-fb"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="fCenter2">
            <a class="footer2logo2"></a>
            <div class="footer2_text"><span>2010 - 2019 Юридическая компания “Стопдолг”</span>						<a rel="nofollow" target="_blank" href="/upload/mhm_areas/9e6/Politika-konfidencialnosti.pdf">
                Политика&nbsp;конфиденциальности
            </a>
            </div>
        </div>
    </div>
</footer>
