<li class="guarantee-list__item">
    <picture class="guarantee-list__image">
        <img src="img/insolvency/{{image}}" alt="">
    </picture>
    <p class="guarantee-list__text">{{title}}</p>
</li>
