<div class="header {{page-name}}">
    <div class="container">
        <header class="header__container">
            <div class="header__info">
                <button type="button" class="header__nav-toggle">
                    <span></span>
                    <span></span>
                </button>

                <a href="/" class="header__logo">
                    <picture>
                        <source srcset="/img/logo-white.svg">
                        <img src="/img/logo-white.png" alt="CТОПДОЛГ" width="200" height="22">
                    </picture>
                </a>
                <a href="tel:88007070033" class="header__tel">8&nbsp;800&nbsp;707&nbsp;00&nbsp;33</a>
            </div>
            <nav class="nav header__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="/">Главная</a></li>
                    <li class="nav__item _parent">
                        <a href="/404.html" class="nav__link">Услуги</a>

                        <ul class="nav__sub-list">
                            <li class="nav__sub-list-item">
                                <a href="/404.html">Банкротство</a>
                            </li>
                            <li class="nav__sub-list-item">
                                <a href="/404.html">Защита прав заёмщиков</a>
                            </li>
                            <li class="nav__sub-list-item">
                                <a href="/refusal.html">Отказ от взаимодействия с коллекторами</a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav__item _active _parent">
                        <a href="javascript:void(0);" class="nav__link">Наши дела</a>
                        <ul class="nav__sub-list">
                            <li class="nav__sub-list-item">
                                <a href="/404.html">Списано до&nbsp;500&nbsp;тыс.&nbsp;руб.</a>
                            </li>
                            <li class="nav__sub-list-item">
                                <a href="/404.html">Списано 500&nbsp;тыс. - 2&nbsp;млн&nbsp;руб.</a>
                            </li>
                            <li class="nav__sub-list-item">
                                <a href="/404.html">Списано более 2&nbsp;млн&nbsp;руб.</a>
                            </li>
                            <li class="nav__sub-list-item">
                                <a href="/404.html">Дела о&nbsp;защите прав заёмщиков</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item _parent">
                        <a href="/404.html" class="nav__link">Статьи</a>

                        <ul class="nav__sub-list">
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Всё о банкротстве</a></li>
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Защита заёмщиков</a></li>
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Ипотека </a></li>
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Коллекторы</a></li>
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Новости</a></li>
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Сми о нас </a></li>
                            <li class="nav__sub-list-item"><a href="javascript:void(0);">Вопрос-ответ</a></li>
                        </ul>
                    </li>
                    <li class="nav__item"><a href="/reviews.html" class="nav__link">Отзывы</a></li>
                    <li class="nav__item"><a href="/contacts.html" class="nav__link" >Контакты</a></li>
                </ul>
            </nav>
        </header>

        {{> @partial-block}}
    </div>

</div>
