<li class="how-list__item">
    <figure>
        <picture class="how-list__img">
            <img src="img/{{directory}}/how-{{img}}.svg" alt="">
        </picture>
        <figcaption class="how-list__text">{{{text}}}</figcaption>
    </figure>
</li>
