<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>СТОПДОЛГ - {{page-name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic"
          rel="stylesheet">

    <link href="css/vendor/new_kernel_main.css" type="text/css" rel="stylesheet"/>
    <link href="css/vendor/new_template.css" type="text/css" rel="stylesheet"/>
    <link href="css/vendor/team-list.css" type="text/css" rel="stylesheet"/>
    <link href="css/vendor/datepicker.min.css" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="{{block-name}}">
<div class="wrapper">

    {{> @partial-block}}

    {{> footer}}
</div>

{{#if popover}}
    {{> popover popover-name="subpoena-plaintiff" image="/img/subpoena/plaintiff.png"}}
    {{> popover popover-name="subpoena-date" image="/img/subpoena/date.png"}}
    {{> popover popover-name="subpoena-court" image="/img/subpoena/court.png"}}
{{/if}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="js/main.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/vendor/datepicker.min.js"></script>
{{#if script}}
    <script src="js/collapse.js"></script>
{{/if}}
</body>
</html>
