<section class="section polygon _reflected mass-media">
    <div class="section__container">
        <h2 class="section__title _to-right">Стопдолг в СМИ</h2>
        {{> mass-media-list}}
    </div>
</section>
