<div class="pagination reviews__pagination">
    <div class="pagination__toggles-wrap">
        <button type="button" class="pagination__toggle _prev" disabled>
            <i class="icon icon-arrow"></i>Предыдущая страница
        </button>
        <button type="button" class="pagination__toggle _next">
            Следующая страница<i class="icon icon-arrow"></i>
        </button>
    </div>
    <form class="pagination__counter">
        Страница
        <label class="pagination__input">
            <input type="number" value="1" min="1">
        </label>
        из 3
    </form>
</div>
