<div class="popover" id="test-popover">
    <div class="popover__backdrop"></div>

    <div class="popover__wrap">
        <div class="popover__content">
           {{! <button type="button" class="popover__times" title="Закрыть">x</button>}}
            <h4 class="popover__title">Укажите номер судебного приказа (или судебного дела, или производства)</h4>
            <picture class="popover__img">
                <img src="/img/reference.png" alt="">
            </picture>
            <button type="button" class="button _primary popover__close" title="Закрыть">Закрыть</button>
        </div>
    </div>
</div>
