<div class="slikparntcont profile-list__item">
    <div class="profile-card">
        <div class="profile-card__left">
            <picture class="profile-card__img">
                <img src="img/insolvency/{{image}}.jpg" alt="{{image}}">
            </picture>

            <a class="profile-card__link" href="javascript:void(0);" target="_blank">Карточка <br>
                арбитражного <br>
                управляющего <br>
                (ЕФРСБ)</a>
        </div>

        <div class="profile-card__right">
            <h6 class="profile-card__name">
                <span class="profile-card__name-first">{{firstName}}</span>
                <span class="profile-card__name-last">{{lastName}}</span>
            </h6>
            <span class="profile-card__position">Партнер компании Стопдолг</span>

            <ul class="profile-card__skills">
                {{#each skills}}
                    {{> profile-list-skills data=this}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
