{{#if popover}}
    <div class="reference popover__reference" data-popover="{{popover-name}}">?</div>
{{else}}
    <div class="reference tooltip__reference" data-tooltip="Введите ваш e-mail. <br> Мы отправим на него готовый документ.">
        ?
        {{!<div class="tooltip _visible">
            <div class="tooltip__content">
                Введите ваш e-mail. <br> Мы отправим на него готовый документ.
            </div>
        </div>
        }}
    </div>
{{/if}}
