<section class="video-slider">

    <div class="video-slider__item">

        <figure class="video-card">
            <div class="video-card__iframe youtube-video">

                <iframe width="1903" height="768" src="https://www.youtube.com/embed/65dnur_g2iw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <h3 class="video-card__title">Румянцева Оксана Викторовна</h3>
            <p class="video-card__description">«Обращалась в банки и просила реструктуризацию, но банки мне отказывали. Решила пройти программу сопровождение проблемной задолженности...»</p>
        </figure>

        <figure class="video-card">
            <div class="video-card__iframe youtube-video">

                <iframe width="1903" height="768" src="https://www.youtube.com/embed/65dnur_g2iw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <h3 class="video-card__title">Румянцева Оксана Викторовна</h3>
            <p class="video-card__description">«Обращалась в банки и просила реструктуризацию, но банки мне отказывали. Решила пройти программу сопровождение проблемной задолженности...»</p>
        </figure>

    </div>

    <div class="video-slider__item">

        <figure class="video-card">
            <div class="video-card__iframe youtube-video">

                <iframe width="1903" height="768" src="https://www.youtube.com/embed/65dnur_g2iw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <h3 class="video-card__title">Румянцева Оксана Викторовна</h3>
            <p class="video-card__description">«Обращалась в банки и просила реструктуризацию, но банки мне отказывали. Решила пройти программу сопровождение проблемной задолженности...»</p>
        </figure>

        <figure class="video-card">
            <div class="video-card__iframe youtube-video">

                <iframe width="1903" height="768" src="https://www.youtube.com/embed/65dnur_g2iw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <h3 class="video-card__title">Румянцева Оксана Викторовна</h3>
            <p class="video-card__description">«Обращалась в банки и просила реструктуризацию, но банки мне отказывали. Решила пройти программу сопровождение проблемной задолженности...»</p>
        </figure>

    </div>

</section>

