<li class="stage__card">
    <p class="stage__name">{{{title}}}</p>
    <div class="stage__arrow">
        <picture class="stage__image">
            <img src="img/insolvency/{{image}}" alt="">
        </picture>
        <span class="stage__counter"></span>
    </div>
    <div class="stage__more">
        Подробнее
        <div class="stage__description">На консультации специалист определяет, подходит ли вам процедура банкротства</div>
    </div>
</li>
