<section class="contacts__team polygon _reflected team-block">
    <h2 class="team-block__title heading-decoration">Наши специалисты</h2>
    <div class="team-block__content">
        <div class="slikparnt">
            {{> team-slider-item}}
            {{> team-slider-item}}
            {{> team-slider-item}}
            {{> team-slider-item}}
            {{> team-slider-item}}
        </div>
    </div>
</section>
