.breadcrumb__item
.breadcrumb__item a
  // legacy
  color $c-white

.annulment-statement

  .header:before
    background-image url(../img/backgrounds/annulment.jpg)

    @media (max-width 640px)
      background-image url(../img/backgrounds/annulment_mobile.jpg)

  &__banner
    padding-bottom 163px

    color $c-white

    @media (max-width 768px)
      padding 6px 20px 44px

  .statement

    &__title

      @media (max-width 768px)
        margin-bottom 14px

    &__promocode

    .statement__price

      @media (max-width 768px)
        margin-bottom 1.1em
