.checkbox
  display inline-block

  & + &
    margin-left 1.4em

  &__label
    // legacy
    display inline
    // end
    position relative
    padding-left 2.1em

    color inherit
    font-size 16px
    font-weight 400
    line-height 1.1

    cursor pointer

    @media (max-width 768px)
      font-size 10px

    &:before
      position absolute
      top - 4px
      left 0
      flex none
      display inline-block
      width 20px
      height @width
      content ''

      m-icomoon()
      color $c-primary
      font-size 14px
      line-height @width
      text-align center

      background-color rgba($c-white, .9)
      border 2px solid $c-secondary
      border-radius 3px

      @media (max-width 768px)
        top -2px
        width 11px
        height @width

        font-size 8px
        line-height @width


  input[type='checkbox']
    position absolute
    width 0
    height @width

    opacity 0

    &:checked
      ~span
        &:before
          content icon-check

  a
    color inherit
