.container
  max-container-width = $container-width
  container-gap = 20px
  // ширина основного контейнера в макете не превышает 876px
  // для адаптива требуются боковые 20px отступы
  max-width max-container-width + container-gap*2
  padding 0 container-gap
  margin 0 auto
