.contacts

  .header:before
    background-image url(../img/backgrounds/contacts.jpg)

  &__form
    padding-top 40px
    padding-bottom 112px

    color $c-white
    text-align center

    @media (max-width 768px)
      padding-left 20px
      padding-right @padding-left
      padding-top 46px

  &__title
    padding 0
    margin 0 0 .9em
    border none

    color $c-white
    font-size 56px
    font-weight 300
    line-height 1.2
    letter-spacing -2.2px
    text-align center
    text-transform uppercase

    @media (max-width 768px)
      font-size 24px
      margin-bottom 1em

  &__description
    margin-bottom 0

    font-size 24px

    @media (max-width 768px)
      font-size 14px
      text-align center

    a
      display block

  &__form
    align-items center

    max-width 596px
    margin-right auto
    margin-left @margin-right
    padding 24px
    border 8px solid $c-dark-bg

    background $c-white
    border-radius 15px
    box-shadow 0 0 10px rgba($c-black,15%)

    @media (max-width 768px)
      justify-content center
      padding 0
      border none

      background transparent
      border-radius 0
      box-shadow none

    &-input
      margin-right 30px

      @media (max-width 768px)
        margin-right 0
        margin-bottom 15px
        padding 12px 15px
        border 1px solid $c-dark-bg

        background $c-white
        border-radius 15px
        box-shadow 0 0 10px rgba($c-black,15%)

