.disclaimer

  &:before
    background-image url(../img/backgrounds/disclaimer.jpg)

  &__banner
    padding 30px 0 163px

    @media (max-width 768px)
      padding-left 20px
      padding-right @padding-left
