.divider
  position relative


  @media (max-width 768px)
    &:after
      content ''
      display block
      margin-top 24px
      height 1px
      width 100%

      background-image linear-gradient(90deg ,transparent, $c-white, transparent)
