.expert
  display flex
  align-items center
  position relative
  margin-left 24px

  @media (max-width 768px)
    margin-left 21px

  &__img
    display block

    img
      display block
      width 100%
      height auto

  &__card
    position absolute
    left 0
    bottom 52px
    display inline-block
    padding 13px

    // fefefe
    color darken($c-white,1.8%)

    background-color rgba(#005957,85%)

    @media (max-width 768px)
      bottom 27px
      left 0
      padding-right 20px
      padding-left @padding-right

    @media (max-width 480px)
      right -20px
      left @right

    &._right
      left auto
      right 0

  &__position
    margin-bottom .3em

    font-size 12px

  &__name
    font-size 22px

    @media (max-width 768px)
      font-size 18px
