.faq-list
  $counter-width = 50px
  max-width 782px
  margin 0 auto

  color $c-secondary-3

  counter-reset faq-list

  &__header
    display flex
    align-items center
    flex-basis 100%

  &__text
    margin 0 0 1.7em

    font-size 19px
    line-height 1.4
    letter-spacing .2px
    text-align center

    @media (max-width 768px)
      margin-bottom 1.2em

      font-size 14px
      letter-spacing -.6px

  &__accordion
    max-width 736px
    margin 0 auto 53px

    list-style none

    @media (max-width 768px)
      margin-bottom 30px

    &._no-counter
      .faq-list

        &__item
          padding-left 27px

          &:before
            display none

  &__item
    box-sizing border-box
    display flex
    flex-wrap wrap
    flex 1
    max-width calc(100% - 50px)
    position relative
    padding 14px 10px 15px ($counter-width + 7px)

    background-color $c-white
    border-radius 15px
    box-shadow 0 0 15px rgba($c-black,5%)

    @media (max-width 768px)
      max-width 100%
      padding 11px 10px 11px 15px

    &:not(:last-child)
      margin-bottom 19px

    &:before
      counter-increment faq-list
      content counter(faq-list)

      position absolute
      top 0
      bottom @top
      left @top
      width 1.39em
      width $counter-width
      padding 8px 0

      color $c-white
      font-size 36px
      font-weight 300
      line-height 1
      text-align center

      background-color #d4d4d4
      border-radius 15px 0 0 15px

      @media (max-width 768px)
        display none

  &__title
    flex 1
    font-size 18px
    font-weight 400

    @media (max-width 768px)
      font-size 16px

  &__description
    height 0
    margin 0
    overflow hidden

    font-size 16px
    font-weight 300

    @media (max-width 768px)
      font-size 14px

    &._is-shown
      height auto
      padding-top .5em

  &__toggle
    position absolute
    left 100%
    flex none
    border none
    width 40px
    height @width
    margin-left 10px

    background-image url(../img/insolvency/plus.svg)
    background-color $c-primary
    background-repeat no-repeat
    background-position 50%
    background-size 50%
    border-radius 50%

    cursor pointer

    @media (max-width 768px)
      position static
      width 30px
      height @width

    &._less
      background-image url(../img/insolvency/minus.svg)

  &__btn
    margin 0 40px

    text-align center

    @media (max-width 768px)
      margin 0

    .button
      padding-left .9em
      padding-right @padding-left

      letter-spacing .1px

      border-radius 20px

      @media (max-width 480px)
        font-size 16px

