.hammer-list
  list-style none

  &._lg

    .hammer-list
      &__item
        font-size 26px

        @media (max-width 768px)
          font-size 16px

        &:before
          margin-top -3px

          width 32px
          height @width

          @media (max-width 768px)
            margin-top -8px

  &__item
    display flex
    margin-bottom 1em

    font-size 18px
    font-weight 700

    @media (max-width 768px)
      margin-bottom .8em

      font-size 16px
      font-weight 400

    &:last-child
      margin-bottom 0

    &:before
      flex 0 0 auto
      content ''
      margin-top -5px
      margin-right 10px
      width 28px
      height @width

      background url("../img/hammer-list.svg") no-repeat center
      background-size contain

      @media (max-width 768px)
        margin-right 7px

        margin-top -6px


