.insolvency-extra

  .header:before
    background-color #385656
    background-image url(../img/backgrounds/insolvency-extra.jpg)

    @media (max-width 768px)
      background-image none

  &__banner
    padding-bottom 110px

    @media (max-width 768px)
      padding 6px 20px 50px

  &__title
    margin-bottom .7em

  &__heading
    margin-bottom 1.2em

  &__description
    max-width 610px
    margin 0 auto 2.6em

    font-size 16px
    line-height 1.4em

    @media (max-width 768px)
      margin-bottom 1.9em

      font-size 14px

  &__about
    margin-bottom 44px

    @media (max-width 768px)
      margin-bottom 35px

    &-list
      max-width 725px
      margin 0 auto 2.2em

      @media (max-width 768px)
        margin-bottom 2.5em

  &__how
    margin-bottom 44px

    @media (max-width 768px)
      margin-bottom 37px

    &-list
      max-width 585px
      margin 0 auto 2.5em

      @media (max-width 768px)
        margin-bottom 3em

  &__alert
    max-width 600px
    margin 0 auto
    padding-top 32px
    padding-bottom 36px

    @media (max-width 768px)
      padding-top 22px
      padding-bottom 28px

    @media (max-width 600px)
      margin-left -20px
      margin-right @margin-left

  &__fallacy
    max-width 650px
    margin 0 auto 2.5em

    @media (max-width 768px)
      margin-bottom 2.2em

  &__footnote-link
    text-align center

    a
      color inherit
      font-size 20px

      @media (max-width 768px)
        font-size 18px

  &._statement
    .header:before
      background-image url(../img/backgrounds/insolvency-extra-statement.jpg)
      background-size 100% auto
      background-color #dddddd

  &__statement

    &-banner
      padding-bottom 123px

      @media (max-width 768px)
        padding 6px 20px 44px


