.insolvency

  .header:before
    background-image url(../img/backgrounds/annulment.jpg)

  &__banner
    padding-top 22px
    padding-bottom 183px

    color $c-white

  &__title
    padding 0
    margin 0 0 41px
    border none

    color inherit
    font-size 56px
    font-weight 300
    line-height 1.2
    text-align center
    text-transform uppercase

  &__stages
    padding 6px 28px 27px
    border 8px solid $c-white

    text-align center

    background-color $c-border-input
    border-radius 15px

    @media (max-width 768px)
      padding 12px 10px 21px

    &-block
      margin-top -140px
      padding-top 190px
      padding-bottom 122px

      &:before
        background-color #dbdbdb

  &__guarantee
    margin-top -140px
    padding-top 190px
    padding-bottom 122px

    &:before
      background-image url(../img/insolvency/guarantee-bg.jpg)

  &__managers
    margin-top -140px
    padding-top 190px
    padding-bottom 137px

    &:before
      background-position 100% 50%
      background-image url(../img/insolvency/managers-bg.jpg)

  &__articles
    margin-top -140px
    padding-top 190px
    padding-bottom 122px

    @media (max-width 768px)
      padding-bottom 46px

    &:before
      background-image url(../img/insolvency/articles-bg.jpg)

    &-list
      margin-bottom 40px

    &-btn
      text-align center

  &__mistakes
    margin-top -140px
    padding-top 190px
    padding-bottom 122px

    color $c-secondary-3

    @media (max-width 768px)
      padding-bottom 41px

    &:before
      background-image url(../img/insolvency/mistakes-bg.jpg), linear-gradient(0,#a9a9a9,transparent)

      @media (max-width 768px)
        background-image  url(../img/insolvency/mistakes-bg-320.png), linear-gradient(0,#a9a9a9,transparent)

  &__faq
    margin-bottom 52px

    @media (max-width 768px)
      margin-bottom 30px

    &-btn
      margin 0 40px

      text-align center
