//legacy
.menu__list.active2 {
  margin-bottom: 86px;
}

.insolvency

  .header:before
    background-image url(../img/backgrounds/insolvency.jpg)

  &__banner
    padding-bottom 30px

    color $c-white

    overflow hidden
    clip-path polygon(0% 0%, 100% 0%, 100% 91%, 65% 100%, 0% 91%)

    @media (max-width 1024px)
      padding-bottom 80px

    @media (max-width 768px)
      padding-bottom 0
      clip-path polygon(0% 0%, 100% 0%, 280% 94%, 65% 100%, 0% 99%)

  &__form
    display flex

    @media (max-width 768px)
      align-items center
      flex-direction column-reverse

  &__expert
    flex-basis 37.5%

  &__calculator
    flex-basis 62.5%
    padding-top 24px

    @media (max-width 768px)
      margin-bottom 27px
      padding-top 19px

  &__stages
    padding 22px 28px 27px
    border 8px solid $c-white

    text-align center

    background-color $c-border-input
    border-radius 15px

    @media (max-width 768px)
      padding 13px 10px 20px

    &-block
      margin-top -98px
      padding-top 190px
      padding-bottom 122px

      @media (max-width 768px)
        padding-top 126px
        padding-bottom 47px

      &:before
        background-color #dbdbdb

      .section__title
        @media (max-width 768px)
          margin-bottom .5em

    &-list
      margin-bottom 10px

      @media (max-width 768px)
        margin-bottom 0

    .button
      padding-top 15px
      padding-bottom @padding-top

      border-radius 10px

      @media (max-width 768px)
        margin 0 22px
        padding-top 9px
        padding-bottom @padding-top

  &__guarantee
    margin-top -86px
    padding-top 151px
    padding-bottom 98px

    @media (max-width 1024px)
      margin-top -121px
      padding-top 149px
      padding-bottom 46px

    &:before
      background-image url(../img/insolvency/guarantee-bg.jpg)

    .section__title
      margin-bottom 1em

    &-list
      margin-bottom 48px

    // костыль
    .practice-block__form
      width auto
      max-width $container-width

  &__managers
    margin-top -78px
    padding-top 142px
    padding-bottom 135px

    @media (max-width 768px)
      padding-top 101px
      padding-bottom 51px

    &:before
      background-position 100% 50%
      background-image url(../img/insolvency/managers-bg.jpg)

    .section__title
      margin-bottom 1em

      @media (max-width 768px)
        margin-bottom .9em

  &__articles
    margin-top -73px
    padding-top 135px
    padding-bottom 90px

    @media (max-width 768px)
      padding-top 98px
      padding-bottom 46px

    &:before
      background-image url(../img/insolvency/articles-bg.jpg)

    .section__title
      @media (max-width 768px)
        margin-bottom .7em

    &-list
      margin-bottom 20px

      @media (max-width 768px)
        margin-bottom 8px

    &-btn
      text-align center

  &__mistakes
    margin-top -56px
    padding-top 124px
    padding-bottom 96px

    @media (max-width 1024px)
      margin-top -65px

    @media (max-width 768px)
      padding-bottom 41px
      padding-top 94px

    &:before
      background-size 100% auto
      background-image url(../img/insolvency/mistakes-bg.jpg), linear-gradient(0,#a9a9a9,transparent)

      @media (max-width 768px)
        background-image  url(../img/insolvency/mistakes-bg-320.png), linear-gradient(0,#a9a9a9,transparent)

    .section__title
      margin-bottom .6em

      @media (max-width 768px)
        margin-bottom .4em
