.insolvency

  .header:before
    background-image url(../img/backgrounds/annulment.jpg)

  &__banner
    padding-top 22px
    padding-bottom 183px

    color $c-white

  &__title
    padding 0
    margin 0 0 41px
    border none

    color inherit
    font-size 56px
    font-weight 300
    line-height 1.2
    text-align center
    text-transform uppercase

  &__stages
    padding 6px 28px 27px
    border 8px solid $c-white

    text-align center

    background-color $c-border-input
    border-radius 15px

    @media (max-width 768px)
      padding 12px 10px 21px

    &-block
      margin-top -140px
      padding-top 190px
      padding-bottom 122px

      &:before
        background-color #dbdbdb

  &__guarantee
    margin-top -140px
    padding-top 190px
    padding-bottom 122px

    &:before
      background-image url(../img/insolvency/guarantee-bg.jpg)
