.mortgage-vacation
  .header:before
    background-image url(../img/backgrounds/insolvency.jpg)

  &__banner
    padding-bottom 10px

    color $c-white

  &__calendar
    position relative

    text-align center

    &-title
      position absolute
      top 15%
      right 0
      left @right
      max-width 403px
      margin 0 auto

      color $c-secondary-3
      font-size 18px
      font-weight 700
      letter-spacing -1.4px
      text-transform uppercase

    &-img
      display inline-block

      img
        display block
        width 100%
        height auto

  &__conditions
    margin-top -80px
    padding-top 146px
    padding-bottom 75px

    @media (max-width 768px)
      padding-top 98px
      padding-bottom 46px

    &:before
      background-color #f2f2f2
      background-image url(../img/mortgage-vacation/conditions-bg.jpg)
      background-size 100% auto
