.personal-data-statement

  .header:before
    background-image url(../img/backgrounds/personal-data-statement.jpg)

  &__banner
    padding 30px 0 110px

    @media (max-width 768px)
      padding-left 20px
      padding-right @padding-left
      padding-bottom 40px
