.polygon
  for num in (0..20)
    &:nth-child({num})
      z-index 20 - num

  m-polygon()

  filter drop-shadow(4px 4px 5px rgba($c-black,15%))

  &:before
    //clip-path polygon(0% 0%, 100% 0%, 112% 91%, 35% 100%, 0% 92%)
    clip-path polygon(0% 0%, 100% 0%, 100% 91%, 35% 100%, 0% 91%)

    @media (max-width 768px)
      //clip-path polygon(0% 0%, 100% 0%, 255% 91%, 35% 100%, 0% 98%)
      clip-path polygon(0% 0%, 100% 0%, 100% 99%, 34% 100%, 0% 99%)

  &._reflected
    &:before
      //clip-path polygon(0% 0%, 100% 0%, 118% 88%, 65% 96%, 0% 92%)
      clip-path polygon(0% 0%, 100% 0%, 100% 93%, 65% 100%, 0% 93%)

      @media (max-width 768px)
        clip-path polygon(0% 0%, 100% 0%, 100% 99%, 65% 100%, 0% 99%)
