.body-overflow
  overflow hidden

.popover
  position fixed
  top 0
  right @top
  bottom @top
  left @top
  z-index 1001
  display flex
  align-items center
  justify-content center

  opacity 0
  visibility hidden

  &._shown
    opacity 1
    visibility visible

  &__wrap
    overflow auto
    max-width 714px
    max-height 90vh
    padding $reference-gap
    margin 10px
    border $reference-border-width solid $c-reference-border

  &__content
    position relative
    padding 26px 0

    text-align center

    background-color $c-reference-bg

  &__title
    padding 0 40px
    margin-bottom 1em

    color $c-white
    font-size 18px
    font-weight 300

    @media (max-width 768px)
      font-size 16px

  &__img
    display block
    padding 0 52px

    @media (max-width 768px)
      padding 0

    img
      width auto
      max-width 100%
      max-height 100%
      margin auto
      display block

  &__close
    margin-top 16px

  &__times
    position absolute
    top 0
    right @top
    border 0
    width 30px
    height @width

    color $c-white

    background-color $c-black
    border-radius 50%

    cursor pointer

  &__backdrop
    position absolute
    top 0
    right @top
    bottom @top
    left @top
    z-index -1

    background-color rgba(#243c3b,50%)
    transition .2s ease-in
