.profile-list
  padding-left 60px
  padding-right @padding-left

  @media (max-width 768px)
    padding-left 40px
    padding-right @padding-left

  @media (max-width 480px)
    padding-left 0
    padding-right @padding-left

  &__item
    margin 0 11px
