.representation-in-court-statement
  .header:before
    background-image url(../img/backgrounds/representation-in-court-statement.jpg)

  &__banner
    padding 30px 0 110px

    @media (max-width 768px)
      padding-left 20px
      padding-right @padding-left

  ._textarea
    margin-bottom 20px

  .new-form
    &__fieldset-name
      @media (max-width 768px)
        display none
