@keyframes pulse
  0%
    opacity 33%
    transform translateY(1px)
  50%
    opacity 66%
    transform translateY(2px)
  100%
    opacity 100%
    transform translateY(0)

.show-more-arrow
  display flex
  flex-direction column
  align-items center
  position relative
  height 40px

  transition $d-transition

  @media (max-width 768px)
    display none

  &._less
    transform scale(-1)
    transform-origin center

    span
      animation-play-state paused !important

  span
    display block
    width 186px
    height 20px

    background-image url(../img/show-more-arrow.svg)
    background-repeat no-repeat
    background-position 50%
    background-size contain

    opacity 66%
    transition $d-transition

    &:first-child
      animation pulse infinite 1s linear reverse

    &:nth-child(2)
    &:last-child
      position absolute

    &:nth-child(2)
      top 10px
      opacity 33%
      animation pulse infinite 1s linear
      animation-delay .1s

    &:last-child
      bottom 0
      opacity 100%
      animation pulse infinite 1s linear
      animation-delay .2s

