.statement
  $statement-horizontal-gutter = 40px
  $statement-horizontal-gutter-sm = 14px
  $statement-border-radius = 20px
  $statement-border-width = 8px
  $statement-border-width-sm = 6px

  padding 23px $statement-horizontal-gutter

  color $c-secondary-3

  background-color $c-light-bg
  border $statement-border-width solid $c-dark-bg
  border-radius $statement-border-radius

  @media (max-width 768px)
    padding 15px 14px
    border-width 6px

  &._with-header
    padding-top 0

  &__promocode
    justify-content space-between

    @media (max-width 768px)
      flex-direction column-reverse

      .new-form__item
        flex none

    .statement__price
      flex 1
      padding-left 44px

      @media (max-width 768px)
        margin-bottom 2em
        padding-left 0

  &__price
    align-self flex-end
    font-size 18px
    line-height 1
    text-align right

    @media (max-width 768px)
      padding-left 0
      width 100%

      font-size 12px
      text-align center

    b
      font-size 2em

  &__title
    width 100%
    padding 0
    margin 0 0 25px

    color $c-secondary-3
    font-size 30px
    font-weight 400
    text-align center

    border none

    @media (max-width 768px)
      font-size 18px

    &._condensed
      letter-spacing -.7px

      @media (max-width 768px)
        letter-spacing 0

  &__header
    position relative
    z-index 1
    margin-bottom 1.33em
    padding .87em 0

    &:before
      content ''
      position absolute
      z-index -1
      top 0
      right - $statement-horizontal-gutter
      bottom 0
      left @right

      background-color #c3dddd
      border-top-right-radius $statement-border-radius - $statement-border-width
      border-top-left-radius @border-top-right-radius

      @media (max-width 768px)
        right -1*$statement-horizontal-gutter-sm
        left @right
        border-top-right-radius $statement-border-radius - $statement-border-width-sm
        border-top-left-radius @border-top-right-radius

  &__agreement
    text-align left

    &-checkbox
      display block

      text-align inherit

      &:not(:last-child)
        margin-bottom 1.6em

      & + &
        margin-left 0
