$c-primary = #fe4f3e

//58 88 86
$c-secondary = #3a5856
//39 83 81
$c-nav-bg = #275351
//65 100 96
$c-heading-decoration = #416460
//42 68 66
$c-nav-active = #2a4442
//
$c-subnav-bg = #617e7d
//
$c-subnav-active = #4e6a69

//74 103 101
$c-secondary-2 = #4a6765

//0 97 96
$c-secondary-3 = #006160

//40 114 111
$c-input = #28726F

//89 156 154
$c-semi-secondary = #599c9a

//97 187 184
$c-semi-secondary-light = #61bbb8

$c-stage-bg = #336666


// from light to dark
//255
$c-white = #fff
//241
$c-light-bg = #f1f1f1
//2303a5856
$c-dark-bg = #e6e6e6
//198
$c-border-input = #c6c6c6
//128
$c-footer-bg = #808080
//119
$c-semi-text = #777
//0
$c-black = #000

$c-reference-bg = rgba($c-secondary,90%)
$c-reference-border = $c-white
$reference-border-width = 1px
$reference-gap = 5px

$d-transition = .2s ease

$container-width = 876px
