.video-card
  padding 10px 20px
  margin-bottom 30px

  @media (max-width 768px)
    margin-bottom 0

  &__iframe
    margin-bottom 16px

  &__title
    padding 0
    margin-bottom .67em

    color inherit
    font-size 18px
    font-weight 700

    @media (max-width 768px)
      font-size 14px

  &__description
    margin 0

    color inherit
    font-size 16px

    @media (max-width 768px)
      font-size 12px
