.youtube-video
  height 0
  position relative
  padding-bottom 56.25%
  overflow hidden

  background $c-black
  border-radius 5px
  box-shadow 0 0 0 2px $c-white

  iframe
    position absolute
    top 0
    left @top
    width 100%
    height @width
