*
  //box-sizing border-box

small
  font-size .78em

@import "components/vars.styl"
@import "components/mixins.styl"
@import "components/icomoon.styl"
@import "components/ruble.styl"

@import "components/head-block.styl"
@import "components/section.styl"
@import "components/header.styl"
@import "components/container.styl"
@import "components/nav.styl"
@import "components/polygon.styl"
@import "components/button.styl"
@import "components/checkbox.styl"
@import "components/radio.styl"
@import "components/form.styl"
@import "components/marked-list.styl"
@import "components/base-list.styl"
@import "components/footnote.styl"
@import "components/steps-list.styl"
@import "components/youtube-video.styl"
@import "components/video-card.styl"
@import "components/comment.styl"
@import "components/collapse-toggle.styl"
@import "components/pagination.styl"
@import "components/divider.styl"
@import "components/reference.styl"
@import "components/statement.styl"
@import "components/tooltip.styl"
@import "components/popover.styl"
@import "components/slick.styl"
@import "components/heading-decoration.styl"
@import "components/stage.styl"
@import "components/guarantee-list.styl"
@import "components/faq-list.styl"
@import "components/articles-list.styl"
@import "components/profile.styl"
@import "components/expert.styl"
@import "components/calculator-form.styl"
@import "components/mass-media.styl"
@import "components/how-list.styl"
@import "components/calendar.styl"
@import "components/schedule.styl"
@import "components/hammer-list.styl"
@import "components/floating-list.styl"
@import "components/br.styl"
@import "components/btn-block.styl"
@import "components/show-more-arrow.styl"
@import "components/gallery.styl"

@import "components/404.styl"
@import "components/anti-collector.styl"
@import "components/refusal.styl"
@import "components/disclaimer.styl"
@import "components/contacts.styl"
@import "components/reviews.styl"
@import "components/annulment.styl"
@import "components/annulment-statement.styl"
@import "components/insolvency.styl"
@import "components/mortgage-vacation.styl"
@import "components/credit-vacation-statement.styl"
@import "components/personal-data-statement.styl"
@import "components/representation-in-court-statement.styl"
@import "components/legal-advice.styl"
@import "components/legal-advice-statement.styl"
@import "components/borrows-protection.styl"
@import "components/permit-withdrawal.styl"
@import "components/services.styl"

@import "components/team.styl"
@import "components/video-list.styl"
