*
  //box-sizing border-box

small
  font-size .78em

@import "components/vars.styl"
@import "components/mixins.styl"
@import "components/icomoon.styl"

@import "components/header.styl"
@import "components/container.styl"
@import "components/nav.styl"
@import "components/polygon.styl"
@import "components/button.styl"
@import "components/checkbox.styl"
@import "components/form.styl"
@import "components/marked-list.styl"
@import "components/footnote.styl"
@import "components/steps-list.styl"
@import "components/youtube-video.styl"
@import "components/video-card.styl"
@import "components/comment.styl"
@import "components/collapse-toggle.styl"
@import "components/pagination.styl"
@import "components/divider.styl"
@import "components/reference.styl"
@import "components/statement.styl"
@import "components/tooltip.styl"
@import "components/slick.styl"
@import "components/heading-decoration.styl"

@import "components/404.styl"
@import "components/anti-collector.styl"
@import "components/refusal.styl"
@import "components/disclaimer.styl"
@import "components/contacts.styl"
@import "components/reviews.styl"
@import "components/annulment.styl"
@import "components/annulment-statement.styl"

@import "components/video-slider.styl"

@import "components/team.styl"
